<div class="container border border-secondary">
    <div class="row border border-secondary text-center aligitems-start">
        navbar
    </div>
    <div class="row border border-secondary align-items-center">
        <div class="col border border-danger" >
            Welcome to
            <br>
            finBank.
        </div>
        <div class="col border border-danger">
            <div class="card my-2 bg-light">
                <div class="card-body">
                    <form>
                        <h2 class="mb-3 text-center">Register customer</h2>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="firstname" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstname" aria-describedby="firstname" placeholder="Enter your first name">
                            </div>
                            <div class="col mb-3">
                                <label for="secondname" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="secondname" aria-describedby="secondnamename" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="InputDob" class="form-label">Date of birth</label>
                            <input type="date" class="form-control">
                        </div> 
                        <div class="mb-3">
                            <label for="mobileNumber" class="form-label">Mobile number</label>
                            <input type="text" class="form-control" id="mobileNumber" aria-describedby="mobileNumber" placeholder="Enter your mobile number">
                        </div>
                        <div class="mb-3">
                            <label for="InputEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter your email address">
                            <div id="emailHelp" class="form-text">your email id is safe with us.</div>
                        </div>
                        <div class="mb-3">
                            <label for="InputPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="Password" aria-describedby="password" placeholder="Enter your password">
                        </div>
                        <div class="mb-3">
                            <label for="InputPassword" class="form-label">Confirm password</label>
                            <input type="password" class="form-control" id="cPassword" aria-describedby="password" placeholder="Enter your password">
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                            <div class="col">
                                <button type="reset" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border border-secondary align-items-end">
        footer
    </div>
</div>

